@import "../abstract/mixins";
@import "../abstract/variables";

.menu {
  @include display-flex(space-between);
  width: 100%;
  height: 100%;
  margin: 0 4%;

  @include breakpoint-desktop {
    margin: 0 30px;
    @include display-flex(space-around);
  }
}

header {
  position: fixed;
  width: 100%;
  height: 60px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  background-color: $color-white;

  @include breakpoint-desktop {
    height: 80px;
  }

  .container {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }

  .aside-nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background-color: rgba(19, 39, 57, 0.8);
  }
}
nav {
  .nav-bg {
    width: 260px;
    height: 100vh;
    padding: 18px 0;
    background-color: rgba(19, 39, 57, 0.8);
    overflow-y: auto;
    @include breakpoint-desktop {
      display: none;
    }

    ul.parent {
      padding-left: 5px;
    }

    ul {
      font-family: $font-secondary;
      margin-top: 0;
      padding: 0;
      padding-left: 15px;

      li {
        a {
          position: relative;
          font-size: 16px;
          display: block;
          position: relative;
          color: #fff;
          padding: 10px 20px;
          font-weight: 500;
          padding-right: 35px;
        }
      }
    }
    a.active {
      color: #74b5fc;
    }
    ul#dropdown-1 {
      display: none;
    }
    ul#dropdown-2 {
      display: none;
    }

    #input-dropdown-1:not(:checked) ~ li a label .fa-chevron-up {
      display: none;
    }
    #input-dropdown-2:not(:checked) ~ li a label .fa-chevron-up {
      display: none;
    }

    #input-dropdown-1:checked ~ li a label .fa-chevron-down {
      display: none;
    }

    #input-dropdown-1:checked ~ li#li-1 a {
      color: #74b5fc;
    }
    #input-dropdown-2:checked ~ li#li-2 a {
      color: #74b5fc;
    }

    #input-dropdown-2:checked ~ li a label .fa-chevron-down {
      display: none;
    }

    #input-dropdown-1:checked ~ ul#dropdown-1 {
      display: block;
    }

    #input-dropdown-2:checked ~ ul#dropdown-2 {
      display: block;
    }

    .close {
      position: absolute;
      top: 18px;
      right: 5%;
      font-size: 24px;
      color: white;
    }
  }
}

.top {
  position: absolute;
  top: 0;
  left: 0;
}

.logo {
  width: 10%;
  @include breakpoint-desktop {
    width: 25%;
  }

  a {
    img {
      width: 67px;
    }
  }
}

.fa-bars {
  color: #09488d;
  font-size: $font-m;

  @include breakpoint-mobile-2 {
    padding-right: 0;
  }
  @include breakpoint-desktop {
    display: none;
  }
}

li {
  display: inline;
  list-style: none;
}

a {
  color: $color-white;
  text-decoration: none;
  font-size: $font-xs;
}

.menu-button {
  border: none;
  background-color: $color-white;
  margin: 0;
  padding: 0;

  @include breakpoint-desktop {
    display: none;
  }
}

.menu-button label {
  border: none;
  display: inline-block;
  padding: 5px;
  @include breakpoint-desktop {
    display: none;
  }
}

#input-menu:checked ~ section.aside-nav {
  display: block;
}

#input-menu:checked ~ .container section.menu button {
  display: none;
}

nav a {
  display: block;
}

section.aside-nav,
.sign-out,
#input-menu,
#input-dropdown-1,
#input-dropdown-2 {
  display: none;
}

.container-nav {
  @include display-flex(space-between);
  position: absolute;
  width: 100%;
}
/*Desktop*/

.list-horizontal {
  width: 50%;
  @include breakpoint-mobile-1 {
    display: none;
  }
  @include breakpoint-desktop {
    display: block;
    padding: 0;
    margin: 0;
    width: 75%;
    text-align: right;
  }
  ul {
    width: 100%;
    @include display-flex(space-around);
  }

  li {
    padding: 0 10px;
    transition: 0.3s;
    font-size: 14px;
    font-weight: $font-weight-semi-bold;
    color: $color-navy-blue-dark;
    font-family: $font-primary;
    &.active {
      color: #74b5fc;
    }

    a {
      display: inline;
      position: relative;
    }
  }

  #input-dropdown-3:not(:checked) ~ li a label .fa-chevron-up {
    display: none;
  }

  #input-dropdown-3:not(:checked) ~ li > ul {
    height: 0;
    overflow: hidden;
  }

  #input-dropdown-3:checked ~ li a label .fa-chevron-down {
    display: none;
  }
  #input-dropdown-3:checked ~ li#li-3 > a {
    color: #74b5fc;
  }
}
.fa-chevron-up {
  font-size: 10px;
}
.fa-chevron-down {
  font-size: 10px;
}
#input-dropdown-3 {
  display: none;
}
.dropdown-icon {
  position: absolute;
  right: 15px;
}
.container-text-hero {
  width: 100%;
}

#li-3 {
  position: relative;
  height: 100%;
  transition-duration: 0.4s;
  // visibility: visible;
  // > ul {
  //   display: none;
  // }
}

.dropdown-menu {
  position: absolute;
  width: 100%;
  height: 200px;
  margin-top: 10px;
  background-color: white;
  left: 0;
  padding: 0 5px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}
