@import "../abstract/variables";
@import '../abstract/mixins';

/* ESTILOS BUTTONS PORTFOLIO*/
.portfolio-button-container {
    button {
        border: none;
        border-radius: 23px;
        box-sizing: border-box;
        font-family: $font-secondary;
        font-size: $font-xxxs;
        margin: $margin-xs $margin-xxxs $margin-xxxs $margin-xxxs;
        padding: $padding-xxs $padding-l;
        &.portfolio-button {
            background-color: $color-grey-extra-light;
            color: $color-blue-medium;
            transition: background-color 0.3s linear;
            &:hover {
                background-color: $color-blue-medium;
                color: $color-white;
                outline: none;
            }
        }
        &.portfolio-button-selected {
            background-color: $color-blue-medium;
            color: $color-white;
        }
    }        
}           
/* FIN ESTILOS BUTTONS PORTFOLIO*/

.button-hero {
    color: $color-white;
    font-size: $font-xxs;
    margin: 0 $padding-l $padding-l 0;
    border-width: 3px;
    border-radius: 50px;
    font-family: $font-primary;
    font-size: $font-xxs;
    font-weight: $font-weight-bold-primary;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 32px;
    outline: none;

    &.button-light-blue {
        background-color: $color-blue-medium;
        border: 2px solid $color-blue-medium;
    }

    &.button-border-white {
        background-color: transparent;
        border: 2px solid $color-white;
    }
    &.button-border-white:hover {
        background-color: $color-blue-medium;
        border: 2px solid $color-blue-medium;

    }
    &.button-light-blue:hover {
        background-color: transparent;
        border: 2px solid $color-white;
    }
}

