// colors //
$color-white: #fff;
$color-grey-light: #DDDDDD;
$color-grey-medium: #495057;
$color-grey-dark: #444444;
$color-black: #111111;

$color-blue-light: #74b5fc;
$color-blue-medium: #007bfe;
$color-blue-medium-dark: #1445b3;
$color-blue-dark: #004289;

$color-navy-blue-medium: #014999;
$color-navy-blue-medium-dark: #09488d;
$color-navy-blue-dark: #00428a;

// font sizes //
$font-xxxs: 12px;
$font-xxs: 14px;
$font-xs: 15px;
$font-s: 16px;
$font-m: 22px;
$font-l: 24px;
$font-xl: 34px;
$font-xxl: 36px;
$font-xxxl:48px;

// fonts //
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold-primary: 600;
$font-weight-bold-secondary: 700;
$font-style: italic;


// magins // 
$margin-xxxs: 5px;
$margin-xxs: 10px;
$margin-xs: 15px;
$margin-s: 20px;
$margin-m: 30px;
$margin-l: 40px;
$margin-xl: 80px;

// paddings //
$padding-xxs: 6px;
$padding-xs: 8px;
$padding-s: 10px;
$padding-m: 15px;
$padding-l: 20px;
$padding-xl: 30px;
$padding-xxl: 40px;
$padding-xxxl: 60px;






